body{
    background:red;
    margin:0;
    padding:0;
}
.area1{
    padding:0px;
    background:#014B40 url('image\ 828.png') no-repeat;
    text-align:center;
    
}
.logoarea{
    background: rgba(255,255,255,0.7);
    padding:15px 0px;
}
.text{
    padding-top:100px;
    color:white;
    text-align:left
}
.box{
    background:#014B40;
    padding:10px 0px;
    color:white;
    margin-bottom:1000px;
}
.box2{
    background:transparent;
    padding:10px 0px;
    color:white;
    margin-bottom:1000px;
    text-align:left;
}
.area2{
    padding:0px 0px;

}
.box img{
    width:100%;
}
.area3{
    background:white;

}
.area4{

}
.area5{

}
.area6{

}